:root {
    --font-general: 'EB Garamond', serif;
    --font-secondary: 'Mulish', sans-serif;
    --primary-color: #105099;
    --secondary-color-green: #DCF0CF;
    --border-radius: 16px;
    --container-color: rgba(242, 242, 242, 1);
    --secondary-color-pink: #FFE9F3;
    --secondary-color-blue: #D8D4F2;
    --dark-color: #292E33;
    --white-color: #ffffff;
    --padding-section-desktop: 112px 40px;
    --padding-section-mobile: 56px 20px;
}

body {
    background-color: var(--white-color);
}

h1, h2, h3 {
    font-family: var(--font-general);
    font-weight: 500;
}

h1 {
    font-size: 90px;
    line-height: 100%;
    color: var(--primary-color);
    letter-spacing: -0.02em;
    text-align: center;
}

h1.first-line {
    margin-bottom: 32px;
}

h2 {
    font-size: 60px;
    color: var(--dark-color);
    line-height: 120%;
    letter-spacing: -0.02em;
}

h3 {
    font-size: 32px;
    line-height: 120%;
    color: var(--dark-color);
}

h4 {
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 16px;
    font-family: var(--font-secondary);
    line-height: 160%;
    font-weight: 500;
}

.material-symbols-outlined {
    position: relative;
    top: 6px;
}

i.material-symbols-outlined {
    font-size: 16px;
    font-weight: 600;
    line-height: 0;
    position: relative;
    top: 2px;
}

i.waving_hand {
    font-size: 40px;
    font-weight: 600;
    line-height: 0;
    position: relative;
    top: 4px;
}

img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 0.2s ease-in;
}

.container-hero {
    padding: 20px;
}

.container-skills {
    padding: 112px 56px;
}

.container-custom {
    padding: 80px 20px;
}

#hero {
    background-color: var(--secondary-color-green);
    border-radius: var(--border-radius);
    padding: 20px 40px;
    height: 100%;
}

#hero-section {
    height: 100vh;
}

#hero-projects {
    background-color: var(--secondary-color-green);
    border-radius: var(--border-radius);
    padding: 20px 40px;
    margin: 20px;
}

#nav {
    padding: 20px 40px;
    margin: 20px;
}

.link {
    font-family: var(--font-secondary);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.link:hover {
    color: var(--primary-color);
    font-style: italic;
}

.link-disabled {
    font-family: var(--font-secondary);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    transition: all 0.2s ease-in;
}

.link-disabled:hover {
    color: gray;
}
 
.btn-contact {
    background-color: var(--secondary-color-pink);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 8px 20px;
    transition: all 0.2s ease-in;
}

.btn-contact:hover {
    background-color: var(--secondary-color-green);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(16,80,153)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
    padding: 0px;
    gap: 32px;
}

a.navbar-brand {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: lowercase;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

a.navbar-brand:hover {
    color: var(--primary-color);
}

.logo-sign {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: var(--primary-color);
    margin-bottom: 0px;
}

.nav-link {
    font-family: var(--font-secondary);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 0px;
    transition: ease-in 0.2s all; 
}

.nav-link:hover {
    color: var(--primary-color);
    font-style: italic;
}

.scroll-down {
    padding-bottom: 36px;
}

#about-section {
    gap: 56px;
    background: white;
    border-radius: var(--border-radius);
}

#about-div {
    border: none;
}

#about-text {
    padding: 0px;
    gap: 24px;
}

#greeting {
    padding: 0px;
    gap: 16px;
}

#my-photo {
    height: 400px;
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.arrow-box {
    box-sizing: border-box;
    padding: 1px 15px 5px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    margin-left: 16px;
    transition: 0.3s all;
}

.arrow-box-down {
    box-sizing: border-box;
    padding: 12px 9px;
    background-color: var(--secondary-color-green);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    margin-left: 16px;
}

.arrow-box-top {
    box-sizing: border-box;
    padding: 12px 9px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color-green);
    border-radius: 50px;
    margin-left: 16px;
}

.arrow-box-disabled {
    box-sizing: border-box;
    padding: 1px 15px 5px;
    background-color: var(--container-color);
    border: 1px solid gray;
    border-radius: 50px;
    margin-left: 16px;
}

.arrow {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.arrow-down {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--primary-color);
}

.arrow-top {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--secondary-color-green);
}

.skills {
    border-radius: var(--border-radius);
    background-color: var(--secondary-color-blue);
    gap: 40px;
}

.card-1-3 {
    width: 30%;
}

.text {
    padding-right: 16px;
}

#skills-cards {
    gap: 32px;
}

#projects-section {
    background: var(--white-color);
    border-radius: var(--border-radius);
}

#projects-div {
    gap: 32px;
}

#projects {
    padding: 0px;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

#project {
    padding: 0px 0px 32px;
    gap: 24px;
    border: none;
    flex: 1 0 49%;
}

#project-description {
    gap: 16px;
    padding: 0px;
}

#project-photo {
    height: 450px;
    object-fit: cover;
    border-radius: var(--border-radius);

}

.chips {
    gap: 8px;
}

.chip {
    padding: 8px 12px;
    background-color: var(--secondary-color-blue);
    border-radius: 50px;
}

.chip-text {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 0px;
}

#footer {
    padding: 112px 56px 32px;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    gap: 56px;
}

#footer-content {
    gap: 72px;
}

#get-in-touch {
    color: var(--secondary-color-green);
}

#email-link {
    padding: 12px 56px;
    background: var(--secondary-color-pink);
    border: 1px solid var(--secondary-color-pink);
    border-radius: 50px;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.2s ease-in;
}

#email-link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color-pink);
    font-style: italic;
    font-weight: 500;
}

#footer-text {
    color: var(--secondary-color-green);
    text-align: center;
    font-weight: 400;
    padding: 0px 32px;
}

#email-div {
    padding: 0px;
    gap: 40px;
}

#social-links {
    gap: 32px;
}

.social-link {
    gap: 4px;
}

.link-footer {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--secondary-color-green);
    text-decoration: none;
}

.link-footer:hover {
    font-style: italic;
    color: var(--secondary-color-green);
}

.arrow-outside {
    font-family: var(--font-general);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--secondary-color-green);
}

.arrow-transformed {
    transform: rotate(-45deg);
}

#line {
    height: 1px;
    color: var(--secondary-color-green);
    opacity: 100%;
}

#footer-underline {
    gap: 24px;
}

.footer-info {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--secondary-color-green);
}

.navbar-toggler {
    border: none;
}

.coloured-background {
    color: var(--dark-color);
    font-weight: 700;
}

.link-disabled-nav {
    opacity: 60%;
}

@media (min-width: 992px) {
    .collapse {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    .header {
        padding: 0px 220px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 14px;
    }

    .navbar-collapse {
        position: absolute;
        left: 0;
        top: 90%;
        width: 100%;
        height: 84vh;
        z-index: 100;
        background-color: var(--secondary-color-green);
        transition: ease-in-out 0.2s all;
    }

    .navbar-nav {
        margin-top: 168px;
    }

    .container-custom {
        padding: 32px 16px;
    }

    .container-hero {
        padding: 16px;
    }

    .container-skills {
        padding: 56px 32px;
    }

    #hero {
        padding: 16px;
        height: 95vh;
    }

    #about-div {
        gap: 16px;
    }

    #about-me-text {
        gap: 16px;
    }

    #my-photo {
        height: 300px;
    }

    i.waving_hand {
        font-size: 28px;
    }

    #social-links {
        gap: 16px;
    }

    #underline {
        gap: 16px;
    }

    #project-photo {
        height: 365px;
    }

    #section-skills {
        gap: 40px;
    }

    #footer {
        padding: 56px 16px 32px;
        gap: 24px;
    }

    #email-div {
        gap: 32px;
    }

    #footer-content {
        gap: 56px;
    }

    #projects-div {
        gap: 16px;
    }

    #nav {
        padding: 10px;
    }

    .card-1-3 {
        width: auto;
        padding: 0px;
    }

    .text {
        padding: 0px;
    }
}
